// Font Family
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
$main-font-family: "Open Sans", sans-serif !default;
$secondary-font-family: "Open Sans", sans-serif !default;

body {
  font-family: $main-font-family;
  font-size: $m-size;
  color: getColor("text");
}

.main-font {
  font-family: $main-font-family;
}

.secondary-font {
  font-family: $secondary-font-family;
}
