/// Spacing sizes
/// @type Length
$xxs-size: 0.25rem !default;
$xs-size: 0.5rem !default;
$s-size: 0.75rem !default;
$m-size: 1rem !default;
$l-size: 1.25rem !default;
$xl-size: 1.5rem !default;
$xxl-size: 2rem !default;

/// Wrapper maximum width
/// @type Length
$wrapper-width: 1220px;

/// Colors
/// @type Color
$malibu: #8dd6f9 !default;
$denim: #1d78c1 !default;
$fiord: #465e69 !default;
$outer-space: #2b3a42 !default;
$white: #ffffff !default;
$concrete: #ededed !default;
$light-gray: #dddddd !default;
$dusty-gray: #999999 !default;
$dove-gray: #666666 !default;
$mine-shaft: #333333 !default;
