@import "abstracts/variables";

.member-item {
  display: flex;
  align-items: center;
  padding: $s-size;
  background-color: $white;
  border-radius: $border-radius;
}

.member-item__avatar {
  margin-right: $l-size;

  img {
    max-width: 75px;
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
}

.member-item__id,
.member-item__login {
  span {
    font-size: $s-size;
    margin-right: $s-size;
  }
}
